<title><%= full_title(yield(:title)) %></title>
<div class='ui grid container'>
  <div class='row'>
    <div class='home column'>
      <div class='ui message'>
      <h1 class='ui header'>Your Daily Yoga Pose</h1>
      <p>Look at all of the cool yoga poses you could learn!</p>
      </div>
    </div>
  </div>
</div>
<div class='ui two column centered grid'>
  <div class='column'>
  <div class="ui centered card">
    <div class="image">
      <img src="<%= @pose_today.image %>">
    </div>
    <div class="content">
      <a class="header"><%= @pose_today.name %></a>
    <div class="meta">
      <span class="date"><%= @pose_today.difficulty %></span>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button"><%= link_to 'Show Details', pose_path(@pose_today) %></div>
        <div class="ui basic red button"><%= link_to 'Delete Pose', @pose_today, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    </div>
  </div>
  </div>
</div>
