<div class="ui middle aligned center aligned container">
  <div class="ui centered cards">
    <% @poses.each do |pose| %>
  <div class="card">
    <div class="image">
      <img src="<%= pose.image %>">
    </div>
    <div class="content">
      <div class="header">
        <%= link_to pose.name , pose_path(pose)%>
      </div>
      <div class="meta">
        <a>Difficulty: <%= pose.difficulty %></a>
      </div>
    </div>
    <div class="extra content">
      <%= pose.user_id %>
      <div class="ui two buttons">
        <div class="ui basic green button"><%= link_to 'Show Details', pose_path(pose) %></div>
        <div class="ui basic red button"><%= link_to 'Delete Pose', pose, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="ui message">
Don't see a pose here that you think should be? <%= link_to 'Add a new pose here', new_pose_path, class:'login-footer' %></a>
</div>
