<img class="ui centered large rounded image" src="<%=@pose.image%>">
<table class="ui teal definition table">
  <thead>
</thead>
<tbody>
    <tr>
      <td>Name</td>
      <td><%= @pose.name %></td>
    </tr>
    <tr>
      <td>Difficulty</td>
      <td><%= @pose.difficulty %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @pose.description %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_pose_path(@pose) %> |
<%= link_to 'Back', poses_path %>
