<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='ui container'>
      <header>
        <div class='ui inverted teal menu'>
          <div class='item'>
            <%= link_to "Daily Yoga Pose", root_url, id: "logo" %>
          </div>
              <%= link_to "About",pages_about_url, class:"item"%>
              <%= link_to "Forum", pages_forum_url, class:"item"%>
              <%= link_to "Poses", pages_poses_url, class:"item"%>
              <div class='right menu'>
                <% if current_user %>
                  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout', class:'item' %>
              <% else %>
                  <%= link_to 'Login', '/login', class:'item' %>  <%= link_to 'Signup', '/signup', class: 'item' %>
              <% end %>
              </div>
          </div>
      </header>
    <div class='ui center aligned container'>
      <%= yield %>
    </div>
    </div>
  </body>
</html>
