<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='ui container'>
      <header>
        <div class='ui inverted teal menu'>
          <div class='item'>
            <%= link_to "Daily Yoga Pose", root_url, id: "logo" %>
          </div>
              <%= link_to " About", "#", class:"item"%>
              <%= link_to "Contact", "#", class:"item"%>
              <%= link_to "Poses", pages_poses_url, class:"item"%>
        </div>
      </header>
    </div>
    <div class='ui center aligned container'>
      <%= yield %>
    </div>
  </body>
</html>
